/*-- scss:rules --*/

/*-- text --*/

.justify {
    text-align: justify !important
}

.green{
    color: green;
}

.orange{
    color: orange;
}

.red{
    color: red;
}

/*-- headers --*/

.title{
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    color: #B99E70
}




